/* Base */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:active, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1280px;
  --container-mini-width: 1023px;
  --container-padding-x: 20px;
  --section-padding-y: 50px;
  --button-height: 48px;
  --font-family-base: "Be Vietnam Pro", sans-serif;
  --transition-duration: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  line-height: 1.28;
  font-size: 16px;
  color: #272522;
  background-color: var(--color-light);
  text-wrap: balance;
}

img {
  display: block;
}

a {
  color: inherit;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
  max-width: var(--container-width);
  width: 100%;
}

.container-mini {
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
  max-width: var(--container-mini-width);
  width: 100%;
}

.container-full {
  padding: 0 var(--container-padding-x);
  max-width: 100%;
}

html, body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  margin-top: auto;
}

.no-scroll {
  overflow-y: hidden;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

/* Blocks */
.grid {
  --grid-columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: 40px;
}

.has-submenu {
  --opacity: 0;
  --visibility: hidden;
  --translateX: translateX(-1rem);
  --display: none;
  --rotate: 0;
  --pointer-events: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .has-submenu:hover {
    --opacity: 1;
    --visibility: visible;
    --translateX: translateX(0);
    --pointer-events: all;
    --rotate: 180deg;
  }
}
@media (hover: none) {
  .has-submenu:active {
    --opacity: 1;
    --visibility: visible;
    --translateX: translateX(0);
    --pointer-events: all;
    --rotate: 180deg;
  }
}
.has-submenu::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
  aspect-ratio: 1;
  background: url("../../img/icons/arrow-down.svg") center/contain no-repeat;
  rotate: var(--rotate);
}
.has-submenu ul {
  position: absolute;
  top: 100%;
  background-color: #fafafa;
  border-radius: 3px;
  opacity: var(--opacity);
  visibility: var(--visibility);
  -webkit-transform: var(--translateX);
          transform: var(--translateX);
  pointer-events: var(--pointer-events);
  -webkit-transition-property: opacity, visibility, rotate, -webkit-transform;
  transition-property: opacity, visibility, rotate, -webkit-transform;
  transition-property: opacity, visibility, transform, rotate;
  transition-property: opacity, visibility, transform, rotate, -webkit-transform;
  z-index: 200;
}
@media (hover: hover) and (pointer: fine) {
  .has-submenu ul a:hover {
    background-color: #dfdfdf;
  }
}
@media (hover: none) {
  .has-submenu ul a:active {
    background-color: #dfdfdf;
  }
}
.has-submenu::after, .has-submenu ul, .has-submenu ul a, .has-submenu ul a::after {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.fade {
  position: absolute;
  inset: 0;
  background: rgba(188, 188, 188, 0.6);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity var(--transition-duration) ease-in-out;
  transition: opacity var(--transition-duration) ease-in-out;
}
.fade.active {
  opacity: 1;
  pointer-events: all;
}

.bag {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  min-height: 100lvh;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), -webkit-transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), -webkit-transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), -webkit-transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  background-color: #fafafa;
  z-index: 9999;
}
@media (max-width: 1023px) {
  .bag {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .bag {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .bag {
    width: 80%;
  }
}
.bag.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.bag__header, .bag__content {
  padding: 2rem;
}
.bag__header {
  z-index: 100;
}
.bag__close-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.bag__close {
  width: 30px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: rotate cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: rotate cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
}
@media (hover: hover) and (pointer: fine) {
  .bag__close:hover {
    rotate: 270deg;
  }
}
@media (hover: none) {
  .bag__close:active {
    rotate: 270deg;
  }
}
.bag__close-icon {
  width: 20px;
  aspect-ratio: 1;
}
.bag__title {
  font-size: 20px;
}
.bag__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
  overflow-y: auto;
  z-index: 50;
}

.swiper {
  --swiper-theme-color: #000;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 24px;
}
.swiper-pagination {
  position: static !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.swiper-pagination-bullet {
  margin: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-pagination-bullet-active {
  color: red;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.radio__label {
  color: #727272;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.radio__input:not(:checked) + .radio__emulator::after {
  opacity: 0;
}
.radio__input:checked + .radio__emulator + .radio__label {
  color: #000;
}
.radio__emulator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  aspect-ratio: 1;
  position: relative;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
}
.radio__emulator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  content: "";
  background-color: #000;
  border-radius: inherit;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

.header {
  padding-block: 20px;
  border-bottom: 0.5px solid #f1f1f1;
}
.header a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}
.header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-weight: 500;
  font-size: 30px;
}
@media (max-width: 767px) {
  .header__logo {
    font-size: 23px;
  }
}
@media (max-width: 991px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__menu-submenu {
  left: -90%;
}
.header__menu-submenu-link {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 17rem;
}
.header__menu-submenu-link::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  aspect-ratio: 1;
  background: url("../../img/icons/arrow-forward.svg") center/contain no-repeat;
  opacity: 0;
}
@media (hover: hover) and (pointer: fine) {
  .header__menu-submenu-link:hover {
    padding: 0 40px;
  }
  .header__menu-submenu-link:hover::after {
    opacity: 1;
  }
}
@media (hover: none) {
  .header__menu-submenu-link:active {
    padding: 0 40px;
  }
  .header__menu-submenu-link:active::after {
    opacity: 1;
  }
}
.header__language-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header__language-button {
  height: var(--button-height);
}
.header__language-link {
  padding: 0 10px;
  width: 3rem;
}
.header__burger-button {
  display: none;
}
@media (max-width: 991px) {
  .header__burger-button {
    display: block;
  }
}

.hero {
  padding-block: var(--section-padding-y);
}
.hero__img-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .hero__img-wrapper {
    grid-template-columns: 1fr;
  }
}

.catalog {
  padding-block: var(--section-padding-y);
}
.catalog__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 767px) {
  .catalog__header {
    position: static;
  }
}
.catalog__body-list {
  --grid-columns: 4;
}
@media (max-width: 991px) {
  .catalog__body-list {
    --grid-columns: 2;
  }
}
@media (max-width: 767px) {
  .catalog__body-list {
    --grid-columns: 1;
  }
}

.filter {
  --rotate: 0deg;
}
.filter__content {
  padding: 20px var(--container-padding-x);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), -webkit-transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), -webkit-transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration), -webkit-transform cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  z-index: 100;
}
@media (max-width: 767px) {
  .filter__content {
    inset: 0;
    width: 60%;
    height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@media (max-width: 480px) {
  .filter__content {
    width: 80%;
    height: 100%;
  }
}
.filter__content.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media (max-width: 767px) {
  .filter__content.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.filter__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
}
@media (max-width: 767px) {
  .filter__content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 75px;
  }
}
.filter__content-close-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.filter__content-close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  aspect-ratio: 1;
  -webkit-transition: rotate cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: rotate cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
}
@media (hover: hover) and (pointer: fine) {
  .filter__content-close-button:hover {
    rotate: 270deg;
  }
}
@media (hover: none) {
  .filter__content-close-button:active {
    rotate: 270deg;
  }
}
.filter__content-close-icon {
  width: 20px;
  aspect-ratio: 1;
}
.filter__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  height: var(--button-height);
}
.filter__toggle.active {
  --rotate: 180deg;
}
@media (hover: hover) and (pointer: fine) {
  .filter__toggle:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .filter__toggle:active {
    opacity: 0.7;
  }
}
.filter__toggle::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
  aspect-ratio: 1;
  background: url("../../img/icons/arrow-down.svg") center/contain no-repeat;
  -webkit-transition: rotate var(--transition-duration) ease-in-out;
  transition: rotate var(--transition-duration) ease-in-out;
  rotate: var(--rotate);
}
.filter__title:not(:last-child) {
  font-size: 18px;
  margin-bottom: 24px;
}
.filter__availability-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.filter__price-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.filter__price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  max-width: 92px;
}
.filter__price-input {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 15px 10px;
  -moz-appearance: textfield;
}
.filter__price-input:focus {
  outline: none;
}
.filter__price-input::-webkit-inner-spin-button, .filter__price-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter__price-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter__price-track {
  position: absolute;
  inset: 0;
  height: 1px;
  background-color: #000;
}
.filter__price-range {
  position: relative;
  width: 14rem;
  height: 1px;
}
@media (max-width: 767px) {
  .filter__price-range {
    width: 100%;
  }
}
.filter__price-range input[type=range] {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  z-index: 100;
}
.filter__price-range input[type=range]:focus {
  outline: none;
}
.filter__price-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1rem;
  aspect-ratio: 1;
  pointer-events: all;
  background-color: #fafafa;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.filter__price-range input[type=range]::-moz-slider-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 1rem;
  aspect-ratio: 1;
  pointer-events: all;
  background-color: #fafafa;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.filter__price-range input[type=range]::-ms-slider-thumb {
  appearance: none;
  width: 1rem;
  aspect-ratio: 1;
  pointer-events: all;
  background-color: #fafafa;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.filter__price-range input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}
.filter__price-range input[type=range]::-moz-focus-outer {
  border: 0;
}

.product-card {
  --opacity: 0;
  --visibility: hidden;
  position: relative;
  text-align: center;
}
@media (hover: hover) and (pointer: fine) {
  .product-card:hover {
    --opacity: 1;
    --visibility: visible;
  }
}
@media (hover: none) {
  .product-card:active {
    --opacity: 1;
    --visibility: visible;
  }
}
.product-card__imgs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.product-card__img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  -webkit-transition: visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
  transition: visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);
}
.product-card__img:last-child {
  opacity: var(--opacity);
  visibility: var(--visibility);
}
.product-card__link {
  position: absolute;
  inset: 0;
}

.product {
  padding-block: var(--section-padding-y);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}
.product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767px) {
  .product__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.product__slider {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-radius: 3px;
}
@media (max-width: 1280px) {
  .product__slider {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (max-width: 1023px) {
  .product__slider {
    height: auto;
  }
}
@media (min-width: 768px) {
  .product__slider {
    aspect-ratio: 4/5;
  }
}
@media (max-width: 767px) {
  .product__slider {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.product__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__arrow-button {
  width: 48px;
  aspect-ratio: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__info {
  padding-left: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 1023px) {
  .product__info {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .product__info {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding-left: 0;
    row-gap: 40px;
  }
}
.product__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.product__details span {
  font-size: 14px;
  color: #686363;
}
.product__title {
  font-size: 36px;
}
@media (max-width: 1023px) {
  .product__title {
    font-size: 30px;
  }
}
.product__price {
  font-size: 20px;
  color: #686363;
}
.product__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 37px;
}
.product__descr {
  line-height: 1.5;
  color: #686363;
}
.product__configuration-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__select {
  cursor: pointer;
}
.product__select:focus {
  outline: none;
}
.product__size-link {
  text-decoration: underline;
}
@media (hover: hover) and (pointer: fine) {
  .product__size-link:hover {
    text-decoration: underline;
  }
}
@media (hover: none) {
  .product__size-link:active {
    text-decoration: underline;
  }
}
.product__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product__table-item {
  padding: 20px;
  border: 1px solid #EAECEC;
}
@media (max-width: 991px) {
  .product__table-item {
    padding: 18px;
  }
}
@media (max-width: 767px) {
  .product__table-item {
    padding: 14px;
  }
}
.product__table-title {
  font-size: 18px;
}
@media (max-width: 767px) {
  .product__table-title {
    font-size: 16px;
  }
}
.product__table-descr {
  font-size: 12px;
}
.product__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.product__quantity-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__quantity-count {
  width: 40px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__quantity-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 87%);
  background-color: rgb(237, 237, 237);
}
@media (hover: hover) and (pointer: fine) {
  .product__quantity-button:hover {
    background-color: rgb(227, 227, 227);
  }
}
@media (hover: none) {
  .product__quantity-button:active {
    background-color: rgb(227, 227, 227);
  }
}
.product__button-bag {
  padding: 0.95rem 1.45rem;
  display: block;
  color: #fff;
  background-color: #272522;
  border-radius: 3px;
  text-align: center;
  -webkit-transition: opacity var(--transition-duration) ease-in-out;
  transition: opacity var(--transition-duration) ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .product__button-bag:hover {
    opacity: 0.9;
  }
}
@media (hover: none) {
  .product__button-bag:active {
    opacity: 0.9;
  }
}
.product__specifications-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.product__specifications-item {
  position: relative;
  padding-left: 15px;
}
.product__specifications-item::before {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #000;
  border-radius: 50%;
}
.product__recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.product__recommend-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 767px) {
  .product__recommend-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
.product__recommend-title {
  font-size: 27px;
}
@media (max-width: 767px) {
  .product__recommend-title {
    font-size: 25px;
  }
}/*# sourceMappingURL=main.css.map */