.catalog {
    padding-block: var(--section-padding-y);

    &__header {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 30px;
    }

    &__body {
        &-list {
            --grid-columns: 3;
        }
    }
}