.catalog {
    padding-block: var(--section-padding-y);

    &__header {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 30px;

        @include mobile {
            position: static;
        }
    }

    &__body {
        &-list {
            --grid-columns: 4;

            @include tablet-s {
                --grid-columns: 2;
            }

            @include mobile {
                --grid-columns: 1;
            }
        }
    }
}