.product {
    padding-block: var(--section-padding-y);
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;

    @include mobile {
        grid-template-columns: 1fr;
    }

    &__slider {
        height: calc(100vh - 88px - var(--section-padding-y) * 2);
        border-radius: 3px;
        overflow-y: hidden;

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }

    &__price {
        font-size: 20px; 

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__sizes {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-inner {
            display: flex;
            column-gap: 20px;
        }
    }

    &__size {
        height: 40px;
        aspect-ratio: 1;
    }

    &__info {
        padding-inline: var(--container-padding-x);
    }

    &__title {
        font-size: 35px;
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__quantity {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-inner {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        &-input {
            // padding: .5rem;
            padding: 10px;
            width: 100px;
            // aspect-ratio: 1;
            // border: 1px solid #000;
            -moz-appearance: textfield;

            &:focus {
                outline: none;
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &__action {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}