.product-card {
    --opacity: 0;
    --visibility: hidden;

    position: relative;
    text-align: center;
    

    @include hover {
        --opacity: 1;
        --visibility: visible;
    }

    &__imgs {
        position: relative;
        width: 100%;
        height: auto;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);

        &:first-child {
            z-index: 1;
        }

        &:last-child {
            opacity: var(--opacity);
            visibility: var(--visibility);
            z-index: 2;
        } 

    }

    &__body {
        
    }
}