.product-card {
    --opacity: 0;
    --visibility: hidden;

    position: relative;
    text-align: center;
    

    @include hover {
        --opacity: 1;
        --visibility: visible;
    }

    &__imgs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    &__img {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        transition: visibility var(--transition-duration) cubic-bezier(0, 0.01, 0.18, 1), opacity cubic-bezier(0, 0.01, 0.18, 1) var(--transition-duration);

        &:last-child {
            opacity: var(--opacity);
            visibility: var(--visibility);
        } 
    }

    &__link {
        position: absolute;
        inset: 0;
    }
}