:root {
    --container-width: 1280px;
	--container-padding-x: 20px;

	--section-padding-y: 10px;

	--button-height: 48px;

	--font-family-base: "Be Vietnam Pro", sans-serif;

	--transition-duration: 0.2s;
}